.container {
  padding: 20px;
}

.backLink {
  display: inline-block;
  margin-bottom: 20px;
  text-decoration: none;
  color: #c800ff;
}

.nav {
  margin-top: 20px;
  display: flex;
  gap: 12px;
}

.link {
   text-decoration: none;
  color: #000;
}

.activeLink {
  font-weight: bold;
  color: #8000ff;
}
